* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#watch-section {
    height: 70vh;
    background-image: url(images/bgk-middle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1e1a3e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

.play-link {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.play-icon:hover,
.play-icon:focus {
    color: #1baeaa;
}
.play-link:hover,
.play-link:focus {
    color: #1baeaa;
}

