
/*body{
    height: 100%;
    display: flex;
    flex-direction: column;
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#logo_top{
    text-decoration: none;
    font-size: 2rem;
    color: #1baeaa;
}
nav ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
nav li{
    height: 100%;
    width: 150px;
    text-align: center;
    position: relative;
    color: white;
}
nav li:hover{
    color: #1baeaa;
}
nav ul a{
    /* height: 100%; */
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
#navbar_elements{
    color: white;
}

#hero_s1{
    background-image: url('bgk-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
#forest{
    background-position: center;
    position: relative;
    height: 100%;
    width: fit-content;
}
#headline_hs{
    font-size: 3rem;
    margin: 0 auto;
}
#h_line{
    border-bottom: 2px solid #1baeaa;
    width: 50px;
    margin: auto;
    margin-bottom: 2rem;
}


#hero-section{
    color: white;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40%;
}

#learn{
    margin-top: 3rem;
    background-color: transparent;
    border: 1px solid #1baeaa;
    border-radius: 1px;
    font-family: 'Segoe UI';
    color: #1baeaa;
    padding: 10px;
    padding-left: 15px;
}



/*our-story*/

.story_main {
    width: 50%;
    margin: 0 auto;
}

.container {
    display: flex;
    padding: 60px 0;
}

.container .our-story .logo {
    margin: auto 80px auto 0;
}

.container h1 {
    font-size: 2.5rem;
    font-weight: normal;
}

.container .para {
    padding: 10px 7px;
    font-size: 1.1rem;
}

.story_main .container .button {
    background-color: #fff;
    float: left;
}

.story_main .btn {
    color: #1baeaa;
    border: 1px solid #1baeaa;
    padding: 10px;
    margin-top: 15px;
    margin-left: 10px;
    font-weight: bold;
}

@media screen and (max-width:1600px) {
    .container .our-story .logo {
        margin: 45px 50px auto 0;
    }

    .container .our-story .logo img {
        width: 200px;
        height: auto;
    }

    .container h1 {
        font-size: 2.2rem;
        padding-bottom: 7px;
    }

    .container .para {
        padding: 12px 5px;
        font-size: 1rem;
        font-weight: normal;
    }

    .story_main .btn {
        padding: 7px;
        margin-top: 17px;
    }
}

@media screen and (max-width:1024px) {
    .container .our-story .logo {
        margin: 45px 40px auto 0;
    }

    .container .our-story .logo img {
        width: 148px;
        height: auto;
    }

    .container h1 {
        font-size: 2.1rem;
        padding-bottom: 1px;
    }

    .container .para {
        padding: 10px 0;
        font-size: 15px;
        font-weight: normal;
    }

    .story_main .btn {
        padding: 7px;
        margin-top: 14px;
        margin-left: 2px;
    }
}

@media screen and (max-width:768px) {
    .container {
        display: grid;
        padding: 0;
    }

    .story_main {
        width: 100%;
    }

    .container .our-story {
        margin: 27px auto;
    }

    .container .our-story .logo {
        margin: 10px 20px;
    }

    .container .our-story .logo img {
        width: 135px;
        height: auto;
    }

    .container h1 {
        font-size: 2rem;
        padding-bottom: 2px;
        text-align: center;
        margin: 0 auto;
    }

    .container .para {
        padding: 8px 25px;
        font-size: 1rem;
        font-weight: normal;
    }

    .story_main .container .button {
        width: 100%;
        text-align: center;
    }

    .story_main .btn {
        padding: 5px;
        margin-top: 12px;
    }
}

@media screen and (max-width:480) {
    .container .our-story {
        margin: 22px auto;
    }

    .container .our-story .logo {
        margin: 10px 15px;
    }

    .container .our-story .logo img {
        width: 120px;
        height: auto;
    }

    .container h1 {
        font-size: 1.8rem;
        padding-bottom: 2px;
        text-align: center;
        margin: 0 auto;
    }

    .container .para {
        padding: 6px 20px;
        font-size: 1rem;
        font-weight: normal;
    }

    .story_main .btn {
        padding: 5px;
        margin-top: 8px;
    }
}

/*team section*/


#team-section {
    display: flex;
    flex-direction: column;
    background-image: url('images/bgk-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 45vh;
    color: white;
    text-align: center;
    font-family: 'Segoe UI';
}

#team-section_container {
    margin: auto;
    width: 960px;
}

#team-section_members {
    display: flex;
    margin-bottom: 2em;
}

#team-section_container > hr {
    width: 4em;
    margin: 10px auto 30px;
}

.team_member {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px;
    border-style: solid;
    border-color: grey;
    text-transform: uppercase;
}

.team_member_img {
    width: 220px;
}

.team_position {
    font-size: smaller;
    color: lightgrey;
}

/*contact_client-section*/

#contact_client-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

#contact_client-section_container {
    display: flex;
    width: 960px;
    text-transform: uppercase;
    gap: 3em;
}

#message_div > h2 {
    margin-left: 10px;
    margin-bottom: 0.5em;
}

.contact_input {
    width: 460px;
    margin: 10px;
    padding: 10px;
}

#clients_div > h2 {
    margin-left: 30px;
    margin-bottom: 0.5em;
}

#clients_div_images {
    display: flex;
    flex-wrap: wrap;
}

.client_image {
    object-fit:contain;
    width: 35%;
    height: 30px;
    margin: 30px;
}

input {
    font-family: 'Segoe UI';
    font-size: 1em;
}

#your_message {
    width: 462px; /*why is adding 2 px necessary to reach actual 460*/
    height: 200px;
    resize: none;
    font-family: 'Segoe UI'; /*maybe superfluous*/
    font-size: 1em;
}

button { /*button css suggestion*/
    background-color: transparent;
    border: 1px solid #1baeaa;
    border-radius: 1px;
    font-family: 'Segoe UI';
    font-weight: bold;
    color: #1baeaa;
    text-transform: uppercase;
    padding: 10px 25px 10px 25px;
    margin:10px;
}


/*watch section*/

#watch-section {
    height: 35vh;
    background-image: url(images/bgk-middle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1e1a3e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.play-link {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.play-link:hover,
.play-link:focus {
    color: #1baeaa;
}

/*expertise section*/

#expertise-section {
    background: white;
    color: #3b3b3b;
    font-family: 'Segoe UI', sans-serif;
    font-size: 0.8rem;
}

.expertise-container {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-auto-columns: max-content;
    place-content: center;
    gap: 1rem;
    /* place-items: center; */
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.expertise-title {
    grid-column: 1/-1;
    margin: 70px 0 70px;
}

.title-bold {
    text-transform: uppercase;
    font-weight: bold;
}

.title-norm {
    font-weight: 400;
}

.expertise-title > hr {
    width: 4rem;
}

.card-img,
.card-title,
.card-content {
    margin-bottom: 1rem;
}

.card-img {
    height: 50px;
    width: 50px;
}

.card-content {
    text-align: center;
}

.card-title {
    font-weight: 600;
    font-size: 0.8rem;
}

.expertise-card {
    padding: 0 1rem;
    margin-bottom: 1rem;
    /* border-right: 0.2px solid #4d4d4d; */

}
